@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
  background: linear-gradient(135deg,#153677, #4e085f) no-repeat;
  color: #fff;
  font-size: x-large;
}

header{
text-align: center;
}


#row{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    margin: 20px 0;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button{
    background:transparent;
    border: none;
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
}

ul{

    overflow: hidden;
    overflow-y: scroll;
    background: #fff;
    color: black;
    width: 20vw;
    height: 20vw;
    list-style: none;
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 20px;
    background: linear-gradient(225deg, #f0f0f0, #cacaca);
box-shadow:  -20px 20px 60px #153677,
             20px -20px 60px #4e085f;
}

ul li{
    background-color: rgba(128, 128, 128, 0.288);
    margin: 10px;
    border-radius: 5px;
    cursor:grabbing ;
}

section#allLists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg,#153677, #4e085f); 
    border-radius: 10px;
  }
  
